In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("50_Startups.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [9]:
df.State.value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [10]:
a = pd.get_dummies(df['State'] , drop_first = True)

In [12]:
a.head(4)

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1

In [13]:
df = df.drop(['State'] , axis = 1)

In [14]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [15]:
df = pd.concat([df , a] , axis = 1)

In [16]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [19]:
X = df.drop(['Profit'] , axis = 1)

In [20]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [21]:
y = df['Profit']

In [22]:
y

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.33 , random_state = 10)

In [25]:
len(X_train) , len(y_train)

(33, 33)

In [26]:
len(X_test) , len(y_test)

(17, 17)

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
linear = LinearRegression()

In [30]:
linear.fit(X_train , y_train)

LinearRegression()

In [31]:
linear.coef_

array([ 7.77649484e-01,  2.14094745e-02,  2.75072606e-02, -1.60580978e+03,
       -1.05094355e+03])

In [32]:
linear.intercept_

46530.05979396362

In [33]:
from sklearn.metrics import r2_score

In [34]:
y_train_pred = linear.predict(X_train)

In [36]:
r2_score(y_train , y_train_pred) * 100

93.37854333997338

In [39]:
y_test_pred = linear.predict(X_test)

In [41]:
r2_score(y_test , y_test_pred) * 100

100.0

In [43]:
X_train.head(1)

    R&D Spend  Administration  Marketing Spend  Florida  New York
27    72107.6       127864.55        353183.81        0         1

In [44]:
linear.predict([[45.6 , 657.8 , 50000 , 0 , 0]])

array([47954.96679076])