In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df = pd.read_csv('./house_price.csv',usecols=['Neighborhood','Exterior1st','SalePrice'])

In [6]:
df.head()

  Neighborhood Exterior1st  SalePrice
0      CollgCr     VinylSd     208500
1      Veenker     MetalSd     181500
2      CollgCr     VinylSd     223500
3      Crawfor     Wd Sdng     140000
4      NoRidge     VinylSd     250000

In [7]:
df['Neighborhood'].unique()

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'], dtype=object)

In [8]:
df['Neighborhood'].value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

## count encoding

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X = df.iloc[: , :-1]
y = df.iloc[: , -1]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [13]:
X_train.head()

     Neighborhood Exterior1st
615         NAmes     MetalSd
613       Mitchel     VinylSd
1303      Somerst     VinylSd
486         NAmes     MetalSd
561       Mitchel     HdBoard

In [14]:
y_train.head()

615     137500
613     147000
1303    232000
486     156000
561     170000
Name: SalePrice, dtype: int64

In [15]:
a = X_train['Neighborhood'].value_counts().to_dict()
a

{'NAmes': 149,
 'CollgCr': 101,
 'OldTown': 80,
 'Edwards': 75,
 'Somerst': 54,
 'NWAmes': 51,
 'NridgHt': 50,
 'Gilbert': 50,
 'Sawyer': 44,
 'BrkSide': 39,
 'Crawfor': 37,
 'SawyerW': 36,
 'Mitchel': 33,
 'NoRidge': 27,
 'Timber': 27,
 'IDOTRR': 24,
 'StoneBr': 19,
 'ClearCr': 18,
 'SWISU': 14,
 'Blmngtn': 13,
 'BrDale': 12,
 'MeadowV': 10,
 'Veenker': 8,
 'NPkVill': 6,
 'Blueste': 1}

In [16]:
X_train['Neighborhood'] = X_train["Neighborhood"].map(a)

C:\Users\korla\AppData\Local\Temp/ipykernel_19480/2082447955.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Neighborhood'] = X_train["Neighborhood"].map(a)

In [17]:
X_train

      Neighborhood Exterior1st
615            149     MetalSd
613             33     VinylSd
1303            54     VinylSd
486            149     MetalSd
561             33     HdBoard
...            ...         ...
1095           101     VinylSd
1130            14     WdShing
1294            75     WdShing
860             37     Wd Sdng
1126            13     VinylSd

[978 rows x 2 columns]

In [18]:
X_test["Neighborhood"] = X_test["Neighborhood"].map(a)

C:\Users\korla\AppData\Local\Temp/ipykernel_19480/2719492376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["Neighborhood"] = X_test["Neighborhood"].map(a)

In [19]:
X_test

      Neighborhood Exterior1st
892             44     HdBoard
1105            27     HdBoard
413             80     WdShing
522             39     CemntBd
1036            27     VinylSd
...            ...         ...
1010            44     Wd Sdng
390             75     MetalSd
1409            51     Plywood
847            101     HdBoard
1284            14     Wd Sdng

[482 rows x 2 columns]

## Frequency Encoding

In [22]:
X_train['Exterior1st']

615     MetalSd
613     VinylSd
1303    VinylSd
486     MetalSd
561     HdBoard
         ...
1095    VinylSd
1130    WdShing
1294    WdShing
860     Wd Sdng
1126    VinylSd
Name: Exterior1st, Length: 978, dtype: object

In [23]:
X_train["Exterior1st"].value_counts()

VinylSd    355
HdBoard    149
MetalSd    145
Wd Sdng    139
Plywood     66
CemntBd     39
BrkFace     33
Stucco      18
AsbShng     15
WdShing     15
BrkComm      1
CBlock       1
AsphShn      1
Stone        1
Name: Exterior1st, dtype: int64

In [24]:
b = X_train["Exterior1st"].value_counts() / len(X_train)
b

VinylSd    0.362986
HdBoard    0.152352
MetalSd    0.148262
Wd Sdng    0.142127
Plywood    0.067485
CemntBd    0.039877
BrkFace    0.033742
Stucco     0.018405
AsbShng    0.015337
WdShing    0.015337
BrkComm    0.001022
CBlock     0.001022
AsphShn    0.001022
Stone      0.001022
Name: Exterior1st, dtype: float64

In [28]:
c = X_train["Exterior1st"].value_counts() / len(X_train)
f = c.to_dict()
f

{'VinylSd': 0.36298568507157464,
 'HdBoard': 0.1523517382413088,
 'MetalSd': 0.14826175869120656,
 'Wd Sdng': 0.14212678936605316,
 'Plywood': 0.06748466257668712,
 'CemntBd': 0.03987730061349693,
 'BrkFace': 0.03374233128834356,
 'Stucco': 0.018404907975460124,
 'AsbShng': 0.015337423312883436,
 'WdShing': 0.015337423312883436,
 'BrkComm': 0.0010224948875255625,
 'CBlock': 0.0010224948875255625,
 'AsphShn': 0.0010224948875255625,
 'Stone': 0.0010224948875255625}

In [29]:
X_train["Exterior1st"] = X_train['Exterior1st'].map(f)

C:\Users\korla\AppData\Local\Temp/ipykernel_19480/1110098885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["Exterior1st"] = X_train['Exterior1st'].map(f)

In [30]:
X_train

      Neighborhood  Exterior1st
615            149     0.148262
613             33     0.362986
1303            54     0.362986
486            149     0.148262
561             33     0.152352
...            ...          ...
1095           101     0.362986
1130            14     0.015337
1294            75     0.015337
860             37     0.142127
1126            13     0.362986

[978 rows x 2 columns]

In [31]:
X_test['Exterior1st'] = X_test['Exterior1st'].map(f)

C:\Users\korla\AppData\Local\Temp/ipykernel_19480/1015660972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Exterior1st'] = X_test['Exterior1st'].map(f)

In [32]:
X_test

      Neighborhood  Exterior1st
892             44     0.152352
1105            27     0.152352
413             80     0.015337
522             39     0.039877
1036            27     0.362986
...            ...          ...
1010            44     0.142127
390             75     0.148262
1409            51     0.067485
847            101     0.152352
1284            14     0.142127

[482 rows x 2 columns]