In [53]:
import numpy as np
import pandas as pd

In [54]:
df = pd.read_csv("E:\\Feature engineering\\Datasets\\house_price.csv")

In [55]:
c_a = df.select_dtypes(include = 'object')

In [56]:
c_a = c_a[['Neighborhood','Exterior1st']]

In [57]:
c_a.head()

  Neighborhood Exterior1st
0      CollgCr     VinylSd
1      Veenker     MetalSd
2      CollgCr     VinylSd
3      Crawfor     Wd Sdng
4      NoRidge     VinylSd

In [58]:
for i in c_a.columns:
    print(f"Number of unique values in {i} = ",len(c_a[i].unique()))

Number of unique values in Neighborhood =  25
Number of unique values in Exterior1st =  15

### count technique

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [61]:
X_train, X_test, y_train, y_test = train_test_split(c_a[['Neighborhood','Exterior1st']], df['SalePrice'], test_size=0.33, random_state=42)

In [62]:
len(X_train) , len(X_test)

(978, 482)

In [63]:
X_train.shape , X_test.shape

((978, 2), (482, 2))

In [64]:
X_train.head()

     Neighborhood Exterior1st
615         NAmes     MetalSd
613       Mitchel     VinylSd
1303      Somerst     VinylSd
486         NAmes     MetalSd
561       Mitchel     HdBoard

In [20]:
value = X_train['Neighborhood'].value_counts().to_dict()

In [21]:
value

{'NAmes': 149,
 'CollgCr': 101,
 'OldTown': 80,
 'Edwards': 75,
 'Somerst': 54,
 'NWAmes': 51,
 'NridgHt': 50,
 'Gilbert': 50,
 'Sawyer': 44,
 'BrkSide': 39,
 'Crawfor': 37,
 'SawyerW': 36,
 'Mitchel': 33,
 'NoRidge': 27,
 'Timber': 27,
 'IDOTRR': 24,
 'StoneBr': 19,
 'ClearCr': 18,
 'SWISU': 14,
 'Blmngtn': 13,
 'BrDale': 12,
 'MeadowV': 10,
 'Veenker': 8,
 'NPkVill': 6,
 'Blueste': 1}

In [22]:
X_train['Neighborhood'] = X_train['Neighborhood'].map(value)

In [23]:
X_train.head()

      Neighborhood Exterior1st
615            149     MetalSd
613             33     VinylSd
1303            54     VinylSd
486            149     MetalSd
561             33     HdBoard

### If we want to use frequency technique just divide count value with its total length

In [26]:
value_f = (X_train['Exterior1st'].value_counts() / len(X_train)).to_dict()   # len means number of rows

In [27]:
value_f

{'VinylSd': 0.36298568507157464,
 'HdBoard': 0.1523517382413088,
 'MetalSd': 0.14826175869120656,
 'Wd Sdng': 0.14212678936605316,
 'Plywood': 0.06748466257668712,
 'CemntBd': 0.03987730061349693,
 'BrkFace': 0.03374233128834356,
 'Stucco': 0.018404907975460124,
 'WdShing': 0.015337423312883436,
 'AsbShng': 0.015337423312883436,
 'Stone': 0.0010224948875255625,
 'BrkComm': 0.0010224948875255625,
 'CBlock': 0.0010224948875255625,
 'AsphShn': 0.0010224948875255625}

In [28]:
X_train['Exterior1st'] = X_train['Exterior1st'].map(value_f)

In [29]:
X_train.head()

      Neighborhood  Exterior1st
615            149     0.148262
613             33     0.362986
1303            54     0.362986
486            149     0.148262
561             33     0.152352

In [30]:
X_test['Exterior1st'] = X_test['Exterior1st'].map(value_f)

In [33]:
X_test['Neighborhood'] = X_test['Neighborhood'].map(value)

In [35]:
X_test.head(1)

     Neighborhood  Exterior1st
892            44     0.152352

### Using Feature-Engine

In [1]:
from feature_engine.encoding import CountFrequencyEncoder

In [66]:
reg = CountFrequencyEncoder(encoding_method='count' , variables=['Neighborhood'])

In [67]:
reg.fit(X_train)

CountFrequencyEncoder(variables=['Neighborhood'])

In [68]:
reg.encoder_dict_

{'Neighborhood': {'NAmes': 149,
  'CollgCr': 101,
  'OldTown': 80,
  'Edwards': 75,
  'Somerst': 54,
  'NWAmes': 51,
  'NridgHt': 50,
  'Gilbert': 50,
  'Sawyer': 44,
  'BrkSide': 39,
  'Crawfor': 37,
  'SawyerW': 36,
  'Mitchel': 33,
  'NoRidge': 27,
  'Timber': 27,
  'IDOTRR': 24,
  'StoneBr': 19,
  'ClearCr': 18,
  'SWISU': 14,
  'Blmngtn': 13,
  'BrDale': 12,
  'MeadowV': 10,
  'Veenker': 8,
  'NPkVill': 6,
  'Blueste': 1}}

In [70]:
reg.variables_

['Neighborhood']

In [69]:
reg.transform(X_train)

      Neighborhood Exterior1st
615            149     MetalSd
613             33     VinylSd
1303            54     VinylSd
486            149     MetalSd
561             33     HdBoard
...            ...         ...
1095           101     VinylSd
1130            14     WdShing
1294            75     WdShing
860             37     Wd Sdng
1126            13     VinylSd

[978 rows x 2 columns]